html{
    max-width: 100vw;
}
body {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}
.message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50; /* Green for success */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
body {
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    max-width: 100%;
}
.message p {
    margin: 0;
    font-size: 16px;
}

@media (max-width: 480px) {
    .message p {
        font-size: 14px;
    }
}
